* {
    background-color: #dadada;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #dadada;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1px solid black;
    box-shadow: 10px 5px 5px rgba(105, 100, 100, 0.288);
    display: flex;
    align-items: center;
}

.navbar .title {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Move para centralizar completamente */
    
}


.navbar .contact-button {
    position: absolute;
    right: 20px;
    background-color: transparent;
    font-size: 13px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: transform 0.8s;
}

.contact-button:hover {
    transform: scale(0.95);
}


.navbar .Carrinho {
    width: 35px; /* Defina um tamanho fixo */
    height: 35px; /* Defina um tamanho fixo */
    margin-left: 70%;
    margin-top: 1%;
}
.navbar .Carrinho2 {
    width: 35px; /* Defina um tamanho fixo */
    height: 35px; /* Defina um tamanho fixo */
    margin-left: -8%;
    margin-top: 1%;
}

.back-button {
    position: relative;
    display: inline-block;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin-top: 9%;
    margin-left: 1%;
    padding: 1% 2%;
    font-size: 12px; /* Fonte adaptável */
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    transition: background-color 0.9s ease, color 0.9s ease, transform 0.9s ease;
}

.back-button:hover {
    background-color: #dadada;
    color: #000000;
    transform: translateY(-3px);
}

img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}

.container, .container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    flex-wrap: wrap;
    padding-top: 3%;
}

.box {
    text-align: center;
    width: 30%; /* Ajusta a largura da box em porcentagem */
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 3%;
    transition: transform 0.3s ease-in-out;
}

.box img:hover {
    transform: scale(1.02);
}

.titulobols {
    font-size: 14px; /* Adaptável à largura */
    margin-top: 1%;
}

#typing-text {
    font-size: 13px; /* Ajustável conforme a largura */
    border-right: 0.2vw solid #000000;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
    margin-top: 5%;
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

/* Media queries para ajuste fino */
@media (max-width: 768px) {
    .navbar .title {
        font-size: 30px; /* Texto maior em telas pequenas */
    }

    .back-button {
        margin-top: 14%;
        font-size: 10px; /* Fonte um pouco maior em telas menores */
    }

    .titulobols {
        font-size: 12px;
    }

    #typing-text {
        font-size: 9px;
    }

    .contact-button{
        font-size: 10px;

    }
}

@media (max-width: 425px) {
    .navbar .title {
        font-size: 15px;
    }

    .back-button {
        font-size: 8px;
        margin-top: 17%;
    }

    .titulobols {
        font-size: 10px;
    }

    #typing-text {
        font-size: 8px;
    }

    .contact-button{
        display: none;

    }
}

@media (max-width: 320px) {
    .navbar .title {
        font-size: 15px;
    }

    .back-button {
        font-size: 8px;
        margin-top: 17%;
    }

    .titulobols {
        font-size: 9px;
    }

    #typing-text {
        font-size: 7px;
    }
}
