* {
    background-color: #dadada;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #dadada;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    justify-content: space-between;
    z-index: 1000; /* Você pode aumentar o z-index, se necessário */
    border-bottom: 1px solid black;
    box-shadow: 10px 5px 5px rgba(105, 100, 100, 0.288);
    display: flex;
    align-items: center;
}



.navbar .title {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Move para centralizar completamente */
    
}


.navbar .contact-button {
    position: absolute;
    right: 20px;
    background-color: transparent;
    font-size: 13px;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: transform 0.8s;
}

.contact-button:hover {
    transform: scale(0.95);
}


/* --------------------------------------------- */


.navbar .Carrinho {
    width: 35px; /* Reduzido o tamanho fixo */
    height: 35px; /* Reduzido o tamanho fixo */
    padding: 0px; /* Se quiser diminuir a área de clique sem mudar o tamanho do ícone */
    margin-left: 1000px; /* Ajuste conforme necessário */
    margin-right: 2%;
    margin-top: 1.3%;
    border: none;
    outline: none;
    cursor: pointer; /* Garante que o botão seja clicável */

}
.navbar .Carrinho2 {
    width: 35px; /* Defina um tamanho fixo */
    height: 35px; /* Defina um tamanho fixo */
    margin-left: -1%;
    margin-top: 1%;
    padding: 0px;
    margin-right: 5%;
}


/* -------------------------------------------------------- */



.back-button {
    position: relative;
    display: inline-block;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin-top: 9%;
    margin-left: 1%;
    padding: 1% 2%;
    font-size: 12px; /* Fonte adaptável */
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    transition: background-color 0.9s ease, color 0.9s ease, transform 0.9s ease;
}

.back-button:hover {
    background-color: #dadada;
    color: #000000;
    transform: translateY(-3px);
}



/* ---------------------------------------- */

#cart-button {
    padding: 10px;
    background-color: #007B55;
    /* Verde escuro */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    /* Ajuste para o ícone */
    display: flex;
    align-items: center;
    justify-content: center;
}


.side-cart {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1001; /* Ajuste para garantir que o carrinho fique acima da barra de navegação */
}

.side-cart.open {
    right: 0;
}

.side-cart h2 {
    padding: 20px;
    margin: 0;
    background-color: #f5f5dc;
    /* Bege claro */
    color: black;
}

#cart-items {
    padding: 20px;
}

#close-cart {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f5f5dc;
    /* Vermelho para o botão de fechar */
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    text-align: center;
}

.content {
    padding: 20px;
}

.add-to-cart {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #f5f5dc;
    /* Bege claro */
    color: black;
    border: none;
    cursor: pointer;
}

.remove-item {
    background-color: transparent;
    border: none;
    color: #f44336;
    /* Vermelho para o ícone de lixeira */
    cursor: pointer;
    font-size: 14px;
    /* Ajuste do tamanho da fonte */
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* Torna o texto maiúsculo */
}

/* Estilo do ícone de lixeira */
.remove-item::before {
    content: "\1F5D1";
    /* Código Unicode do ícone de lixeira */
    font-size: 16px;
    /* Ajuste do tamanho do ícone */
    margin-right: 5px;
    /* Espaço entre o ícone e o texto */
}

.remove-item:hover {
    color: #d32f2f;
    /* Mudança de cor ao passar o mouse */
}

.remove-item:focus {
    outline: none;
}

.quantity {
    font-weight: bold;
    color: #333;
    margin-left: 5px;
}

/* Estilo dos itens do carrinho */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Nome do produto */
.cart-item .product-name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

/* Quantidade */
.cart-item .quantity {
    font-size: 12px;
    color: #888;
    margin-left: 5px;
}

/* Botão de excluir */
.remove-item {
    background-color: transparent;
    border: none;
    color: #f44336;
    /* Vermelho para o ícone de lixeira */
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

/* Estilo do ícone de lixeira */
.remove-item::before {
    content: "\1F5D1";
    /* Código Unicode do ícone de lixeira */
    font-size: 16px;
    margin-right: 5px;
}

/* Efeito de hover */
.remove-item:hover {
    color: #d32f2f;
}

/* Efeito de foco */
.remove-item:focus {
    outline: none;
}

#cart-button {
    padding: 10px;
    background-color: transparent;
    /* Verde escuro */
    color: rgb(15, 15, 15);
    border: none;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart-button i {
    font-size: 24px;
    /* Tamanho do ícone */
}

/* ------------------------------------------------------ */


img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}

.container, .container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    flex-wrap: wrap;
    padding-top: 3%;
}

.box {
    text-align: center;
    width: 30%; /* Ajusta a largura da box em porcentagem */
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 3%;
    transition: transform 0.3s ease-in-out;
}

.box img:hover {
    transform: scale(1.02);
}

.titulobols {
    font-size: 14px; /* Adaptável à largura */
    margin-top: 1%;
}

#typing-text {
    font-size: 13px; /* Ajustável conforme a largura */
    border-right: 0.2vw solid #000000;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
    margin-top: 5%;
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
.dropdown-content {
    display: none; /* Oculta o dropdown inicialmente */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.dropdown-content select {
    width: 100%;
    margin-bottom: 10px;
}

/* Media queries para ajuste fino */
@media (max-width: 1024px) {
    .navbar .Carrinho {
        width: 35px; /* Defina um tamanho fixo */
        height: 35px; /* Defina um tamanho fixo */
        margin-left: 700px;
        margin-top: 1%;
    
    }
    .navbar .Carrinho2 {
        width: 35px; /* Defina um tamanho fixo */
        height: 35px; /* Defina um tamanho fixo */
        margin-left: -9%;
        margin-top: 1%;
    }
}



@media (max-width: 768px) {
    .navbar .title {
        font-size: 30px; /* Texto maior em telas pequenas */
    }

    .back-button {
        margin-top: 14%;
        font-size: 10px; /* Fonte um pouco maior em telas menores */
    }

    .titulobols {
        font-size: 12px;
    }
    
    #typing-text {
        font-size: 9px;
    }

    .contact-button{
        font-size: 10px;

    }
}

@media (max-width: 425px) {
    .navbar .title {
        font-size: 15px;
    }

    .back-button {
        font-size: 8px;
        margin-top: 17%;
    }

    .titulobols {
        font-size: 10px;
    }

    #typing-text {
        font-size: 8px;
    }

    .contact-button{
        display: none;

    }
}

@media (max-width: 320px) {
    .navbar .title {
        font-size: 15px;
    }

    .back-button {
        font-size: 8px;
        margin-top: 17%;
    }

    .titulobols {
        font-size: 9px;
    }

    #typing-text {
        font-size: 7px;
    }
}
