* {
    background-color: #dadada;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 10%; /* Altura em porcentagem */
    background-color: #dadada;
    color: rgb(0, 0, 0);
    padding: 1% 2%; /* Padding em porcentagem */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-bottom: 0.1% solid black;
    box-shadow: 1% 0.5% 0.5% rgba(105, 100, 100, 0.288);
}

.navbar .title {
    font-size: 20px; /* Tamanho adaptável à largura da tela */
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -14px;
}

.navbar .contact-button {
    position: absolute; /* Mantém o botão à direita */
    right: 20px;
    background-color: transparent;
    font-size: 1.5vw; /* Fonte adaptável */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.8s;
    margin-top: -14px;
    font-size: 14px;
}

.contact-button:hover {
    transform: scale(0.95);
}

.back-button {
    position: relative;
    display: inline-block;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin-top: 6%;
    margin-left: 1%;
    padding: 1% 2%;
    font-size: 12px; /* Fonte adaptável */
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    transition: background-color 0.9s ease, color 0.9s ease, transform 0.9s ease;
}

.back-button:hover {
    background-color: #dadada;
    color: #000000;
    transform: translateY(-3px);
}

img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}

.container, .container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    flex-wrap: wrap;
    padding-top: 3%;
}

.box {
    text-align: center;
    width: 30%; /* Ajusta a largura da box em porcentagem */
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 3%;
    transition: transform 0.3s ease-in-out;
}

.box img:hover {
    transform: scale(1.02);
}

.titulobols {
    font-size: 14px; /* Adaptável à largura */
    margin-top: 1%;
}

#typing-text {
    font-size: 13px; /* Ajustável conforme a largura */
    border-right: 0.2vw solid #000000;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
    margin-top: 5%;
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

/* Media queries para ajuste fino */
@media (max-width: 768px) {
    .navbar .title {
        font-size: 15px; /* Texto maior em telas pequenas */
    }

    .back-button {
        margin-top: 14%;
        font-size: 10px; /* Fonte um pouco maior em telas menores */
    }

    .titulobols {
        font-size: 12px;
    }

    #typing-text {
        font-size: 9px;
    }

    .contact-button{
        font-size: 10px;

    }
}

@media (max-width: 425px) {
    .navbar .title {
        font-size: 15px;
    }

    .back-button {
        font-size: 8px;
        margin-top: 17%;
    }

    .titulobols {
        font-size: 10px;
    }

    #typing-text {
        font-size: 8px;
    }

    .contact-button{
        display: none;

    }
}

@media (max-width: 320px) {
    .navbar .title {
        font-size: 15px;
    }

    .back-button {
        font-size: 8px;
        margin-top: 17%;
    }

    .titulobols {
        font-size: 9px;
    }

    #typing-text {
        font-size: 7px;
    }
}
