* {
    background-color: #FFFCDF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo {
    width: auto;
    height: 90px;
    margin: 0;
    padding: 0;
}

@media (max-width: 656px) {
    .navbar .logo {
        display: none;
    }
}

.navbar .title {
    flex-grow: 1;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.navbar .contact-button {
    background-color: transparent;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.9s;
}

.contact-button:hover {
    transform: scale(0.95);
}




/* Imagens */
img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}



.container {
    display: flex;
    justify-content: center;
    /* Alinha os itens no centro */
    align-items: flex-start;
    gap: 50px;
    /* Adiciona uma margem de 20px entre as divs */
    margin-top: 200px;
    /* Apenas para dar um espaçamento do topo da página */
}

.box {
    text-align: center;
}

.box img {
    width: 350px;
    /* Ajuste conforme necessário */
    height: 350px;
    /* Mantém a proporção da imagem */
    display: block;
    margin: 0 auto;
}



#typing-text {
    font-size: 20px;
    border-right: 2px solid #000000;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
    margin-top: 50px;
    /* Adiciona espaçamento superior */
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}