* {
    background-color: #FFFCDF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo {
    width: auto;
    height: 90px;
    margin: 0;
    padding: 0;
}

@media (max-width: 656px) {
    .navbar .logo {
      display: none;
    }
  }

.navbar .title {
    flex-grow: 1;
    text-align: center;
    font-size: 30px;
}

.navbar .contact-button {
    background-color: transparent;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.9s;
}

.contact-button:hover {
    transform: scale(0.95); 
}


   

    /* Imagens */
img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}



/* Contêiner da Página */
.page-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* Carrossel */
.carousel {
    width: 200%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel-inner {
    display: flex;
    width: auto;
    gap: 20px;
}

.carousel-item {
    width: 100%;
    flex: 1 0 20%;
    margin: 2%;
    box-sizing: border-box;
}

.carousel img {
    width: 70%;
    display: block;
    border-radius: 10px;
    margin: 5%;
}